# Folders
venv/
.venv/
.env

# Compiled python files
*.py[oc]


.exe
.settings
.spyderproject
.ropeproject
.project
.pydevproject
.orig
.DS_Store

# ^dist/ is dead syntax
/dist/

MANIFEST
Thumbs.db
*~
*.swp

# Other build artifacts
*.spec
*.log
htmlcov/