# Folders
venv/
.venv/
.env

# Compiled python files
*.py[oc]


.exe
.settings
.spyderproject
.ropeproject
.project
.pydevproject
.orig
.DS_Store

^build/
# ^dist/ is dead syntax
/dist/
^bin/
^tools/gnuwin32/
^tools/TortoiseHg/
^tools/WinMerge/
^winpython.egg-info/
MANIFEST
Thumbs.db
*~
*.swp
