
# Compiled python files
*.exe
*.pyc
*.pyo
*.so
*.class
*~
.settings
*.log

build/
/dist/
/bin/
MANIFEST
/winpython.egg-info/
.tox/
.vagrant
/.coverage
/htmlcov/
/env/
.mypy_cache/
.settings
