# the essential
wheel
pywin32

# compilers
cython
pycparser
cffi
numba
maturin

# done in pre-step
## numpy
## scipy
## numexpr
## mkl_service

# pytorch eco-system
#Torch
#torchvision
#torchaudio
#botorch
#fastai
#dask_ml

#LLM huggingface
#openai
#transformers[torch]
#accelerate


# complementary tools
mypy
black
pep8
twine
pytest
coverage
hypothesis
pybind11
flit
poetry
virtualenv
pympler

sqlite_bro
baresql
idlex

# scientific
matplotlib
sympy

scikit_learn
scikit_image

SQLAlchemy
alembic

#statistic
statsmodels
pmdarima
pymc

# to become skrub
dirty_cat

pandas
# pandas-datareader
xarray

#pdf
pdfrw
reportlab

#git
gitdb
gitpython

# Jupyter
jupyter
# jupyterlab, ipython
papermill
ipython_sql
ipympl
ipyleaflet
ipycanvas
#not popular jupyterlab_rise

jedi

# gui
seaborn
altair
plotnine
plotly
bokeh
datashader
holoviews
mpld3
networkx
bqplot
imageio
imageio_ffmpeg
hvplot
wordcloud
panel


# gui geographic
geopandas
geopy
pydeck
# geoviews has no success
gdal

#solvers
pycosat
ecos
qpsolvers
cvxpy
pulp

# Qt5 

# QT
spyder
pyzo
pyqtgraph
qtconsole
guiqwt
PythonQwt
guidata
formlayout
folium

# web
Flask
Django
python_dotenv
uvicorn
beautifulsoup4
regex
lxml
html5lib
requests
datasette
yarl
xmltodict
pystache
pysocks
pyjwt
mako

# parallelize (and replace celery)
joblib
dask[complete]
dask_image
cloudpickle
fastparquet

# write & read QRcode
python-barcode
qrcode
opencv-python

# ports
pyodbc
pyserial
# pywinusb to replace per puysb+libusb-package ?
pywinusb

#rust packages
duckdb
polars

# excel
xlsxwriter
openpyxl

# connect to other langages
julia
pythonnet
clrmagic

ptpython

# async
trio
trio-asyncio

# large lange models
llm
llm_gpt4all
llm_llama_cpp
llm_markov
huggingface_hub

imbalanced-learn


fastapi


# needs recent wheel for altai5
#great_expectations

datasette_graphql
sqlite_utils
db.py
aiosqlite


# compression
zstandard

#2023-08-22 fuzz replacements
rapidfuzz

# dashboards
streamlit
dash

#popular  2023-08-23
greenlet
Markdown
docopt
PyOpenGL
Sphinx
sphinx_rtd_theme
rx
bottleneck
pystache
pypandoc
scikit-optimize
fuzzywuzzy
loky
astropy
snuggs
rasterio
flask-session
python-multipart
filterpy
requests_ntlm

swifter
emcee
zarr
pyflux
snakeviz
nbdime
simplegeneric
ipydatagrid

simpy
supersmoother
mpl_scatter_density
ppci
nltk
simplejson
sounddevice
pygame
moviepy
altair-transform
altair_data_server
pygad
xgboost
xlwings
cvxopt
mpmath
#azure
azure-identity
azure-cosmos
azure-core
sspyrs

# sql - data
adodbapi


sqlparse
 
mysql_connector_python
pg8000

pymongo
redis

#hdf files
h5py
tables
netCDF4
# not_popular python-hdf4

cytoolz

blosc

brewer2mpl

PyAudio

lmfit

# less popular cartographic
mercantile
pyepsg

#preparing parquet
python_snappy
brotli

feather_format

jupyter_sphinx

streamz

vega_datasets


gmpy2

mlxtend

quantecon

quart

hypercorn

umap-learn
flask-sqlalchemy
 
nlopt

httpie
flask-Mail

lz4

jupyter_bokeh

pydeck

wasmer
wasmer_compiler_cranelift
wasmer_compiler_singlepass

nbval

## onnxruntime

pynndescent

quadprog

orjson

jupyter_packaging

deap

tbats

missingno

# for flask
waitress

